body{
    height: 100%;
    background-color: rgba(0, 217, 255, 0.3);
}
#login{
    height: 250px;
    width: 350px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.login_title{
    width: 100%;
    background-color: #336699;
    height: 50px;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 5px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.login_form{
    height: 200px;
    padding: 20px;
}
.login_username{
    outline: none;
    border: 1px solid #e0e0e0;
    height: 30px;
    width: 270px;
    padding-left: 30px;
    background: url("../img/yonghu.png") no-repeat;
    background-position-y: 5px;
    background-position-x: 6px;
    margin-top: 10px;
    border-radius: 10px;
}
.login_password{
    outline: none;
    border: 1px solid #e0e0e0;
    height: 30px;
    width: 270px;
    padding-left: 30px;
    background: url("../img/mima.png") no-repeat;
    background-position-y: 5px;
    background-position-x: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.login_bottom{
    position: relative;
    height: 40px;
    line-height: 40px;
}
.login_submit{
    width: 80px;
    height: 40px;
    background-color: #336699;
    color: white;
    outline: none;
    border: none;
    letter-spacing: 5px;
    margin-left: 30px;
    position: absolute;
    right: 5px;
}
.login_checkbox{
    width: 14px;
    height: 14px;
    background-color: white;
}
.login_bottom>span:nth-child(1){
    color: #333;
    font-size: 14px;
    letter-spacing: 2px;
}
.error{
    color:red;
    font-size: 12px;
    margin-left: 10px;
}