/*背景色*/
body{
	background-color: whitesmoke;
}
/*左边样式*/
/*面包屑导航样式*/
#article .container .row .body_left .row .col-12 ol{
	margin-bottom: 0;
	line-height: 40px;
}
#article .container .row .body_left .row .col-12 a{
	color: #666666;
}
#article .container .row .body_left .row .col-12 a:hover{
	text-decoration: underline;
}
/*文章样式*/
#article .body_left .article-title{
	padding: 10px 0;
	font-size: 24px;
	font-weight: bold;
}
#article .body_left .article-releasetime{
	color: #999999;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	font-size: 12px;
	padding-left: 17px;
	background-image: url(../img/rili.png);
}
#article .container .row .body_left .pandn{
	height: 50px;
	border-top: 1px solid #E0E0E0;
	display: flex;
	padding-top: 20px;
	font-size: 14px;
	width: 100%;
}
#article .container .row .body_left .pandn .pre{
	text-align: left;
	flex:1;
	line-height: 29px;
}
#article .container .row .body_left .pandn .nex{
	text-align: right;
	flex:1;
	line-height: 29px;
}
#article .container .row .body_left .pandn a{
	color:#666666;
}
#article .container .row .body_left .pandn a:hover{
	text-decoration: underline;
}
/*右边样式*/
#article .container .row .body_right{
	position: relative;
}
#article .container .row .body_right h5{
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e0e0e0;
}
/*右边各个栏目样式*/
#article .container .row .body_right .linkbox{
	margin-top: 30px;
	width: 100%;
}
#article .container .row .body_right .linkbox ul{
	list-style: none;
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
}
#article .container .row .body_right .linkbox ul li{
	width: 32%;
	padding: 13% 0;
	margin: 1px;
	border: 1px solid #E0E0E0;
	text-align: center;
	font-size: 14px;
	background:#CCE5FF ;
	color: #666666;
}
#article .container .row .body_right .linkbox ul li .linkd{
	display: block;
	transition:all 1s;
}
#article .container .row .body_right .linkbox ul li:hover .linkd{
	transform: rotate(360deg);
}
/*友情链接样式*/
#article .container .row .body_right .blogroll{
	width: 100%;
	background-color: white;
	padding: 10px;
}
#article .container .row .body_right .blogroll>span{
	font-size: 14px;
}
#article .container .row .body_right .blogroll>span>a{
	color: #666666;
}
#article .container .row .body_right .blogroll>span>a:hover{
	color: red;
}
/*网站信息样式*/
#article .container .row .body_right .blogInformation{
	width: 100%;
	padding: 10px;
	background-color: white;
}
#article .container .row .body_right .blogInformation>ul{
	width: 100%;
	padding-left: 0;
	margin-bottom: 0;
}
#article .container .row .body_right .blogInformation>ul>li{
	width: 100%;
	font-size: 14px;
	color: #666666;
	display: flex;
	margin-bottom: 5px;
}
#article .container .row .body_right .blogInformation>ul>li>img{
	margin-right: 5px;
}
#article .article-body{
	min-height: 400px;
}
/*评论样式*/
#article .body_left .user_head{
	position: relative;
}
#article .body_left .user_head>img{
	display: inline-block;
	border-radius: 50px;
	height: 50px;
	width: 50px;
	position: absolute;
	left:50%;
	transform: translate(-50%,0);
}
#article .body_left .review_body>blockquote>p{
	font-size: 14px;
}
#article .body_left .review_body>blockquote>div>small{
	font-size: 12px;
}
#commentMsg{
	font-size: 14px;
	color: red;
	margin-left: 10px;
	display: none;
	font-weight: bolder
}


