/*头部部分*/
#header .header-top{
	height: 30px;
	line-height: 29px;
	border-bottom:1px solid #e0e0e0;
	background-color: whitesmoke;
}
#header .header-top .container .row>div{
	color: #666666;
	display: flex
}
#header .header-top .container .row>div>a{
	padding: 0 10px;
}
#header .header-top .container .row>div>span{
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
#header .header-center{
	height: 170px;
	background-image:url(../img/top.jpg) ;
	background-size: 100%;
	background-position-y: 208px;
}

#header .header-bottom{
	height: 56px;
	transition: margin-bottom 0.5s;
	background-color: #e0e0e0;
}
#header .header-bottom .logo{
	font-weight: bold;
}
#header .header-bottom .navbar{
	background-color: #e0e0e0;
}
/*底部部分*/
#footer{
	 width: 100%;
	 font-size: 12px;
	 color: #666666;
	 text-align: center;
	 margin-top: 20px;
	 padding: 20px 0;
 }
#footer a{
	color: #666666;
}

