/*设置背景颜色*/
body{
	background-color: whitesmoke;
}
/*最新文章卡片样式*/

/*#newpaper .container .row .body_left .card .view_img{*/
		/*height:125px*/
/*}*/

/*@media (min-width: 576px) {*/
	/*#newpaper .container .row .body_left .card .view_img{*/
		/*height:125px*/
	/*}*/
/*}*/
@media (min-width: 768px) {
	#newpaper .container .row .body_left .card .view_img{
		height:100px
	}
}
@media (min-width: 992px) {
	#newpaper .container .row .body_left .card .view_img{
		height:115px
	}
}
@media (min-width: 1200px) {
	#newpaper .container .row .body_left .card .view_img{
		height:135px
	}
}
#newpaper .container .row .body_left .card .title-a{
	color: #000000;
}
#newpaper .container .row .body_left .card .title-a>h5{
	margin-bottom: 0;
}
#newpaper .container .row .body_left .card .title-a:hover{
	color: #0B2E13;
	text-decoration:underline;
}
#newpaper .container .row .body_left .card .text-bottom{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 10px;
}
#newpaper .container .row .body_left .card .detail{
    background-color: #333;
    color: white;
    padding: 10px;
    letter-spacing:3px;
    font-size: 12px;
	display: inline-block;
}
#newpaper .container .row .body_left .card .text-bottom>p{
	background-repeat: no-repeat;
	font-size: 12px;
	padding-left: 17px;
    margin-bottom: 0;
}
#newpaper .container .row .body_left .card .card_programa{
	background-image: url(../img/biaoqian.png);
}
#newpaper .container .row .body_left .card .card_time{
	background-image: url(../img/rili.png);
    margin-left: 10px;
}
#newpaper .container .row .body_left .card .card_nice{
	background-image: url(../img/dianzan.png);
    margin-left: 10px;
}
#newpaper .container .row .body_left .card .card_nice:hover{
	background-image: url(../img/dianzan_active.png);
}
#newpaper .container .row .body_left .card .card_view{
	background-image: url(../img/liulan.png);
    margin-left: 10px;
}
#newpaper .pga{
	font-size: 12px;
	color: #666666;
}
#newpaper .pga:hover{
	text-decoration:underline;
}
/*联系我样式*/
#newpaper .container .row .body_right{
	position: relative;
}
#newpaper .container .row .body_right h5{
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e0e0e0;
}
#newpaper .container .row .body_right .touch{
	position: relative;
	margin-bottom: 20%;
}
#newpaper .container .row .body_right .tbtn{
	position: absolute;
	top: 120%;
	left: 50%;
	transform: translate(-50%,-120%)
}
/*友情链接样式*/
#newpaper .container .row .body_right .blogroll{
	width: 100%;
	background-color: white;
	padding: 10px;
}
#newpaper .container .row .body_right .blogroll>span{
	font-size: 14px;
}
#newpaper .container .row .body_right .blogroll>span>a{
	color: #666666;
}
#newpaper .container .row .body_right .blogroll>span>a:hover{
	color: red;
}
/*网站信息样式*/
#newpaper .container .row .body_right .blogInformation{
	width: 100%;
	padding: 10px;
	background-color: white;
}
#newpaper .container .row .body_right .blogInformation>ul{
	width: 100%;
	padding-left: 0;
	margin-bottom: 0;
}
#newpaper .container .row .body_right .blogInformation>ul>li{
	width: 100%;
	font-size: 14px;
	color: #666666;
	display: flex;
	margin-bottom: 5px;
}
#newpaper .container .row .body_right .blogInformation>ul>li>img{
	margin-right: 5px;
}



