body,html{
    height: 100%;
}
a{
    color: #5fbeaa;
}
.login_penal{
    padding-top: 80px;
    text-align: center;
}
.login_penal>h6{
    font-size: 14px;
    color: #797979;
}
.login_penal>h6>a{
    color: #5d9cec;
}
.error{
    display: none;
    width: 100%;
    margin:0.5rem 0;
    color: #dc3545;
}

