<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>博客后台管理</title>
    <link rel="stylesheet" href="${pageContext.request.contextPath }/static/css/base.css" th:href="@{/css/base.css}" type="text/css" />
    <link rel="stylesheet" href="${pageContext.request.contextPath }/static/css/login.css" th:href="@{/css/adminLogin.css}" type="text/css" />

</head>
<body>
<div id="login">
    <div class="login_title">后台登陆</div>
    <form action="./login" method="POST" class="login_form" th:action="@{/adminLogin}">
        <input type="text" placeholder="请输入用户名" name="username" class="login_username" autocomplete="off">
        <input type="password" placeholder="请输入密码" name="password" class="login_password">
        <div class="login_bottom">
            <input type="checkbox" class="login_checkbox" name="miss" value="yes"><span>自动登录</span><span class="error"  th:text="${error!=null}?${error}"></span>
            <input type="submit" value="登陆" class="login_submit">
        </div>
    </form>
</div>
</body>
</html>