<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>xxBlog</title>
    <!-- Bootstrap -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/regist.css}" rel="stylesheet"/>
    <link th:href="@{/css/bar.css}" rel="stylesheet"/>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边 ) -->
    <script th:src="@{/bootstrap/js/jquery.min.js}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/popper.min.js}"></script>
    <script th:src="@{/js/regist.js}"></script>
<body>
<div class="container">
    <div class="row" >
        <div class="col-md-4"></div>
        <div class="col-md-4 regist_penal">
            <h4>注册 <a href="#">xxBlog</a></h4>
            <form id="registForm" style="margin-top: 20px;" th:action="@{/regist}" method="post">
                <div class="form-group row">
                    <label for="inputUsername" class="col-sm-3 col-form-label">用户名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputUsername" name="name">
                        <div class="invalid-feedback" style="text-align: left;" id="usernameMsg">
                            用户名不能为空
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword" name="password">
                        <div class="invalid-feedback" style="text-align: left;" id="passwordMsg">
                            密码不能为空
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputCheckPassword" class="col-sm-3 col-form-label">确认密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputCheckPassword">
                        <div class="invalid-feedback" id="checkPasswordMsg" style="text-align: left;">

                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-3 col-form-label">邮箱</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="email" id="inputEmail" class="form-control" aria-label="Recipient's username"
                                   aria-describedby="button-addon2" name="email">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="sendCheck"
                                        style="font-size: 12px;padding: 0 5px">发送验证码
                                </button>
                            </div>
                            <div class="invalid-feedback" id="emailMsg" style="text-align: left;">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputCheck" class="col-sm-3 col-form-label">验证码</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputCheck" name="check">
                        <div class="invalid-feedback" id="checkMsg" style="text-align: left;">
                            验证码不得为空
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary" id="registButton">注册</button>
                    </div>
                </div>
            </form>
            <h6>已有账号？<a th:href="@{/login}">登陆</a></h6>

        </div>

    </div>
</div>
<!--底部部分-->
<!--<div id="footer" th:fragment="footerbar">-->
    <!--xxblog-->
<!--</div>-->
<div th:replace="bar::footerbar"></div>
</body>
</html>